[Unit]
Description=EZProxy
Documentation=https://help.oclc.org/Library_Management/EZproxy
PartOf=Network.target
After=local-fs.target nss-lookup.target  network-online.target

[Service]
Type=forking
WorkingDirectory=/usr/local/ezproxy
ExecStart=/usr/local/ezproxy/ezproxy start
ExecStop=/usr/local/ezproxy/ezproxy stop
ExecReload=/usr/local/ezproxy/ezproxy restart
KillMode=none
Restart=on-failure
RestartSec=3


[Install]
WantedBy=multi-user.target
Alias=ezproxy.service

# Installation:
#
# Edit this file to /usr/local/ezproxy/ezproxy.service 
# ln -s /usr/local/ezproxy/ezproxy.service /lib/systemd/system/ezproxy.service 
#
# systemctl daemon-reload 
# systemctl enable ezproxy.service
# systemctl start ezproxy.service  
